/*fix for weird scrolling behavior observed on webkit browsers*/
.scrollview, .scrollView, .touch {
  -webkit-overflow-scrolling: touch;
}

.inlineB {
  display: inline-block;
}

/*media query*/
@media (min-width: 650px) {
  /*mobile-only*/
  .mobileOnly {
    display: none;
  }
}

/*class for disabling items*/
.disabled {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

/*hide item*/
.hide{
  display: none;
}

/*text colors*/
.blueText {
  color: #6af !important;
}
.greenText {
  color: #d0ffc0 !important;
}
.lightBlueText,
.lightblueText {
  color: lightblue !important;
}
.lightGreenText,
.lightgreenText {
  color: #e0ffd0 !important;
}
.lightPinkText,
.lightpinkText {
  color: lightpink !important;
}
.lightYellowText,
.lightyellowText {
  color: lightyellow !important;
}
.pinkText {
  color: lightpink !important;
}
.redText {
  color: #ffa0a0 !important;
}
.whiteText {
  color: #eee !important;
}
.yellowText {
  color: #ffe0a0 !important;
}
/*end of text colors*/
